<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Mega Menu</title>




</head>
<body>

    <nav id="overlay">

    </nav>
    
   <header>

   </header>

   <section>
       <h1><img src="static/ISAKNOW_text.svg" class="logo" id="open-name" style="position: fixed; left: 115px;
		top: 18px;" width="200"
        height="80"></h1>
   </section>
   
   <!--announcement titles-->
   <img src="static/title_box.svg" class="bigrect" style="position: fixed; left: 30px;
   top: 90px;" width="390" height="100">

   <img src="static/title_box.svg" class="rect" style="position: fixed; left: 43px;
   top: 200px;" width="360" height="80">

   <img src="static/title_box.svg" class="rect" style="position: fixed; left: 43px;
   top: 300px;" width="360" height="80">

   <img src="static/title_box.svg" class="rect" style="position: fixed; left: 43px;
   top: 400px;" width="360" height="80">

   <img src="static/title_box.svg" class="rect" style="position: fixed; left: 43px;
   top: 500px;" width="360" height="80">

   <img src="static/title_box.svg" class="rect" style="position: fixed; left: 43px;
   top: 600px;" width="360" height="80">

   <img src="static/title_box.svg" class="rect" style="position: fixed; left: 43px;
   top: 700px;" width="360" height="80">

   <!--rotating arrow-->
   <img src="static/arrow.svg" id="arr" class="arrow" style="position: fixed; left: 0px;
   top: 90px;" width="928" height="80">

   <!--announcement box-->
   <img src="static/bearly_contents.svg" class="box" style="position: fixed; left: 30px;
   top: 60px;" width="1440" height="730">

   <!--logo-->
   <img src="static/ISAKNOW_both.svg" class="logo" style="position: fixed; right: 400px;
   top: 630px;" height="200">

   <!--student message text-->
   <img src="static/Student Messages.svg" class="text" style="position: fixed; right: 40px;
   top: 210px;" width="350" height="100">

   <!--student messages-->
   <img src="static/Rectangle 9.svg" class="bigrect" style="position: fixed; right: 16px;
   top: 290px;" width="385" height="100">

   <img src="static/Rectangle 10.svg" class="rect" style="position: fixed; right: 30px;
   top: 400px;" width="360" height="80">

   <img src="static/Rectangle 10.svg" class="rect" style="position: fixed; right: 30px;
   top: 500px;" width="360" height="80">

   <img src="static/Rectangle 10.svg" class="rect" style="position: fixed; right: 30px;
   top: 600px;" width="360" height="80">

   <img src="static/Rectangle 10.svg" class="rect" style="position: fixed; right: 30px;
   top: 700px;" width="360" height="80">

</body>
</html>