<!doctype html>
<html lang="en">
<head>
    <title>ISAKNOW</title>

    <link rel="stylesheet" href="static/styles.css">
    <link href="../static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">


    <div class="column">
		
		<img id="title-img" src="../static/ISAKNOW_text.svg" alt=""/>
		
		
		<div class="box" id="box-1-container">
			<img id="rect1" src="../static/Rectangle 10.svg" alt=""/> 
		</div>
		
		<div class="box" id="box-2-container">
			<img id="rect2" src="../static/Rectangle 10.svg" alt=""/> 
		</div>
		
		<div class="box" id="box-3-container">
			<img id="rect3" src="../static/Rectangle 10.svg" alt=""/> 
		</div>
		
		<div class="box" id="box-4-container">
			<img id="rect4" src="../static/Rectangle 10.svg" alt=""/> 
		</div>
    	
	
	
	</div>
		
    <div class="column">
		Tset
	</div>
	
	
	<div class="column">
	Test
	</div>


</div>
	
	
</body>
</html>